erraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.pem

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Model files
*.safetensors
*.bin
*.gguf
*.zip

# OS
.DS_Store
Thumbs.db
